<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TF Cards</title>
</head>
<body th:fragment="layout(app)">
<!--<div class="layout" th:fragment="layout(app)">-->
<div th:replace="fragments/layout/header :: header"></div>
<div class="app" th:replace="${app}"></div>
<div th:replace="fragments/layout/footer :: footer"></div>
<!--</div>-->
</body>
</html>