@tailwind base;
@tailwind components;
@tailwind utilities;

:root {


}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
html.light,
body {
    color-scheme: light;
    max-width: 100vw;
    /*overflow-x: hidden;*/
}

body,
body.light {
    /*color: rgb(var(--foreground-rgb));*/
    background: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    width: 100%;
    height: auto;
}